
/********************navbar*/
@font-face {
    font-family: gerald;
    src: url(/font/GeraldtonRegular.otf);
}
@font-face {
    font-family: gerald-bold;
    src: url(/font/GeraldtonBold.otf);
}
@font-face {
    font-family: gerald-medium;
    src: url(/font/GeraldtonMedium.otf);
}


* {
    margin: 0;
    padding: 0;
    font-family: gerald, sans-serif;
    padding: 0;
	margin: 0;
	box-sizing: border-box;

    
}
body {
    max-width: 100%;
    overflow-x: hidden; 
    height: 100vh;
    width: 100%;
}

.navbar {
    width: 95%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor:pointer;
}
.navbar ul{
    background-color: rgba(151, 151, 151, 0.25) ;
    padding: 20px;
    border-radius: 80px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 2vw;
    position: relative;
}
.navbar ul li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #ffffff;
    position:absolute;
    left: 0px;
    bottom: -0.2em;
    transition: 0.2s;
}
.navbar ul li:hover::after{
    text-decoration: underline;
    width: 100%;
}


/********************hero section*/

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/gridservice.avif); 
    background-size: cover;
    background-position: center;
}
.content{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #fff;
    padding-left: 3em;
    
}
.content h1{
    font-size: 60px;
    margin-top: 80px;
    font-family: gerald-bold, sans-serif;
}
.content p{
    font-family: gerald, sans-serif;
    font-size: 30px;
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
    color: #ffffff;
}
button{
    width:200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: solid #FCF684;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:relative;
    overflow: hidden;
}
span{
    background:#FCF684;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}
/********************Imagem & texto*/

main {
    
    width: 85%;
    margin-left: 6em;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.image-container {
    margin-right: 40px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    
   
}

.image {
    width: 500px;
    height: 400px;
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
}

.text {
    flex: 2; 
}
/* BOTAO CONFIGS
.text button{
    border: solid #B77CD7;
    color: black;
}
.text button:hover span{
    width:100%;
}
.text button span{
    background:#B77CD7;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.text button:hover{
    border: #FCF684;

}
*/
.text h1{
    font-family: gerald-bold, sans-serif;
    font-size: 3rem;
    background-color: #ffffff;

}
.text p{
    font-size: 20px;
    text-align: left;
    background-color: #ffffff;

}

/******************** banner problema*/

.banner-img {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)), url(images/welding.avif); 
    background-size: cover;
    background-position: center;
}
.content-img{
    width:100%;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    color: #fff;
    padding-left: 3em;
    
}
.content-img h1{
    font-size: 48px;
    font-family: gerald-bold, sans-serif;
    margin-bottom: 1rem;
}
.content-img p{
    font-family: gerald, sans-serif;
    font-size: 16px;
    margin: auto;
    font-weight: 100;
    line-height: 25px;
    color: #ffffff;
}

/******************** cards*/

.card-section {
    background-color: #151515;
}

.card-title {
    display: block;
    background-color: #151515;
    text-align: left;   
    font-size: large;
    font-weight: bold;
    font-family: gerald-bold, sans-serif;
    padding-top: 120px;
    padding-left: 4.2rem;
    text-align: left;
    margin-bottom: 20px; 
    color: #ffffff; 
    font-size: 30px; 
}


.card-config{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 315px; 
    height: 420px;
    margin: 10px; 
    background-color: #232221; 
    border-radius: 10px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column;
    
}

.card-image {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px ;
    margin-bottom: 2rem;

}

.card h1{
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;


}

.card p {
    padding-left: 3rem;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.text{
    background-color: #151515;
}


/******************** grafico e texto*/

.graph-section{
    background-color: #151515;
    padding-left: 5rem;
    padding-top: 120px;
}
.graph{
    width: 1280px;
    height: 750px;
    justify-content: center;
    
}
.graph-section p{
    font-family: gerald, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.graph-section h1{
    font-family: gerald-bold, sans-serif;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

/******************** texto e ícones*/

.icon-section {
    text-align: left;
    padding: 40px;
    background-color: white;
    background-color: #151515;
}


.text-section {
    margin-bottom: 30px;
    padding-left: 4.2rem;
}
.text-section h2{
    font-family: gerald-bold;
    font-size: 48px;
    color: #ffffff;
}
.text-section p{
    font-family: gerald;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    
}

.feature-item {
    text-align: left;
    padding-left: 4.2rem;
}
.feature-item h1{
    font-family: gerald-bold, sans-serif;
    font-size: 30px;
    color: #ffffff;
}
.feature-item p{
    font-family: gerald, sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.icon-image {
    display: flex;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}

.icon-image:hover {
    transform: scale(1.1);
}

/******************** contato*/



.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 40px 100px;
    background-color:#151515;
}
.container h1{
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-family: gerald-bold, sans-serif;
}
.container p{   
    font-family: gerald-medium, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
    margin-left: 140px;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("images/heroflywheel.avif") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}


.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #3bdfae;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/******************** footer*/
footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}